<script>
  new FroalaEditor('textarea#froala_editor', {
    // Set custom buttons.
    toolbarButtons: {
      'moreText': {
        'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting']
      },
      'moreParagraph': {
        'buttons': ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
      },
      'moreRich': {
        'buttons': ['insertLink', 'insertImage', 'insertVideo', 'insertTable', 'emoticons', 'fontAwesome', 'specialCharacters', 'embedly', 'insertFile', 'insertHR']
      },
      'moreMisc': {
        'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help']
      }
    },

    // Change buttons for XS screen.
    toolbarButtonsXS: [['undo', 'redo'], ['bold', 'italic', 'underline']]
  })
</script>



<h2>Add New Post</h2>

<%= form_for [:admin, @post] do |f| %>

	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger"><%= msg %></div>
		<% end %>

	<% end %>

	<div class="form_group">
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
	</div>

	<div class="form_group">
		<%= f.label :category %>
		<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'}, class: 'form-control' %>
	</div>

	<div class="form_group">
		<%= f.label :author %>
		<%= f.select :user_id, User.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'}, class: 'form-control' %>
	</div>

	<div class="form_group">
		<%= f.label :image %>
		<%= f.file_field :image, class: 'form-control' %>
	</div>

	<div class="form_group">
		<%= f.label :tags %>
		<%= f.text_area :tags, class: 'form-control' %>
	</div>

	<div class="form_group">
		<%= f.label :body %>
		<%= f.text_area :body, id:'froala_editor', class: 'form-control' %>
	</div>

	<br />
	<%= f.submit "Submit", class: 'btn btn-primary' %>
	<%= link_to "Cancel", admin_posts_path, class: 'btn btn-default' %>

<% end %>