    <h2 class="page-header">Manage Categories<%= link_to "Create new", new_admin_category_path, class: 'btn btn-success pull-right' %> </h2>
    <table class="table table-striped">
      <tr>
        <th>Category Title</th>
        <th>Date Created</th>
        <th>Date Updated</th>
        <th>Actions</th>
      </tr>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>       
        <td><%= category.created_at.localtime.strftime('%B %e at %l:%M %p') %></td>      
        <td><%= category.updated_at.localtime.strftime('%B %e at %l:%M %p') %></td>
        <td><%= link_to "Edit", edit_admin_category_path(category), class: 'btn btn-primary' %>
          <%= link_to "Delete", admin_category_path(category), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure'} %>
      </tr>
     <% end %>
    </table>

     <%= will_paginate @categories %>